.gridcontainer {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100px;
    height: 100px;
}

.gridchild1 {
    display: grid;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.gridchild2 {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100%;
}
