.gridContainerFeed {
    display: grid;
    grid-template-columns: 83% 17%;
    width: 100%;
    height: 100%;
}

.gridChildFeed1 {
    display: grid;
    background-color: #43494E;
    width: 100%;
    height: 100%;
}

.gridChildFeed2 {
    display: grid;
    background-color: #222323;
    width: 100%;
    height: 100%;
}

