.gridContainerFeed {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100%;
}

.gridChildFeed1 {
    display: grid;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.gridChildFeed2 {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100%;
}
