html {
    background-color: #2f3136;
    color: #dcddde;
    overflow: hidden;
    height: 100%;
    user-select: none;
}

.App {
    background-color: #2f3136;
    color: #dcddde;
    overflow: hidden;
    height: 100vh;
}
