.Leaderboard {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    background: #26262b;
    box-shadow: 0 5px 10px -5px rgba(black, .2);
    color: white;
}
.Title {
    padding: 20px;
    background: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.updates{
    background: black;
    font-size: 12px;
    padding:10px;
}


