@import '~material-design-icons/iconfont/material-icons.css';

.root {
    width: 25ch;
    max-width: 25ch;
    background-color: #1d262f;
}
.h1 {
    width: 25ch;
    background-color: #36393f;
}

.inline {
    display: inline;
}


.Search {
    width: 25ch;
    margin-top: 3ch;
}

.Search-box {
    font-size: 1.0rem;
    border: none;
    border-bottom: 1px solid #36393F;
    background: inherit;
    outline: none;
    color: #dcddde;
    width: 23ch;

}

.Search-box::placeholder {
    color: #dcddde;
}

.Online {
    width: 100%;
    background-color: #1d262f;
    height: 38px;
    text-align: center;
    padding: 1px;
}

.Invite {
    width: 100%;
    background-color: #454951;
    height: 44px;
    text-align: center;
    padding: 1ch;
    margin-top: 20px;
}

//normal
.sidebar {
    position: fixed; /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100vh;
    width: 12vw; /* Set the width of the sidebar */
    z-index: 0; /* Stay on top of everything */
    top: 3.4em; /* Stay at the top */
    background-color: #182028; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    color: white;
    margin-top: 4px;
}

// 720p

@media screen and (max-width: 1280px){
    .sidebar {
        width: 16vw; /* Set the width of the sidebar */
    }
}

// half 720p

@media screen and (max-width: 640px){
    .sidebar {
        width: 30vw; /* Set the width of the sidebar */
    }
}

// 1080p

@media screen and (max-width: 1920px){
    .sidebar {
        width: 15vw; /* Set the width of the sidebar */
    }
}

// half 1080p

@media screen and (max-width: 960px){
    .sidebar {
        width: 25vw; /* Set the width of the sidebar */
    }
}

// 1440

@media screen and (max-width: 1920px){
    .sidebar {
        width: 15vw; /* Set the width of the sidebar */
    }
}




